@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,600');

:root {
  --background: #fd2424d9;}

*, *::before, *::after {
  box-sizing: border-box;}
body {
	margin: 0;
	background-color: #fff8f8;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;}
p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #333;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;}
#container{
  min-height: 100%;
  padding-bottom: 50px;}

/* navigation styles start here */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  padding: 10px 0 10px;}
/* (phone) about us style start*/
.no{
  position: absolute;
  padding: 0;
  margin: 0;
  top: 78px;
  right: 16px;
  display: none;
  z-index: 3;}
.op:focus-within .no{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  position: absolute;}
.abtus{
  display: flex;
  justify-content: right;
  padding: 0;
  margin: 0;
  background-color: #fd2424;}
.abtus2{
  padding: 0;
  margin: 0;
  background-color: #fd2424;}
/* (phone) about us style end*/

/* changed this from the tutorial video to
   allow it to gain focus, making it tabbable */
.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;}
.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(lightblue, .75);}
.nav-toggle-label {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 1em;
  height: 100%;
  display: flex;
  align-items: center;}
.top-left2 {
    display: flex;
    grid-column: 2 / 3;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    color: rgb(0, 0, 0);
    padding: 0 8px 0 8px;
    margin: 0 5px 0 25px;
    font-weight: 800;}
.nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;}
a{
    margin-top: 20px;}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;}
.nav-toggle-label span::before {
  bottom: 7px;}
.nav-toggle-label span::after {
  top: 7px;}
nav {
  position: absolute;
  text-align: right;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;}
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;}
nav li {
  margin-bottom: 1em;
  margin-right: 1em;}
nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;}
nav a:hover {
  color: #000;}
.nav-toggle:checked ~ nav {
  transform: scale(1,1);}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;}
.topbar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;}

@media screen and (min-width: 1000px) {
  .nav-toggle-label {
    display: none;}
  header {
    display: grid;
    grid-template-columns: 3fr auto minmax(600px, 3fr) 1fr;}
  .top-left2 {
    grid-column: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    color: rgb(0, 0, 0);
    padding: 5px 8px 5px 8px;
    margin: 0 5px 0 20px;
    font-weight: 800;}
  .top-left2:hover{
    opacity: 70%;}
  nav {
    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;}
  nav ul {
    display: flex;}
  nav li {
    margin-left: 3em;
    margin-bottom: 0;}
  nav a {
    opacity: 1;
    position: relative;}
  nav a::before {
    content: '';
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;}
  nav a:hover::before {
    transform: scale(1,1);}
  /* media (pc) about us style start */
  .no{
    display: flex;
    justify-content: center;
    margin: 6.4px 125px 0 0;
    padding: 0 0 10px 0;
    position: absolute;
    display: none;
    gap: 70px;
    background-color: #fd2424d9;
    z-index: 3;}
  .op:focus-within .no {
    display: grid;
    grid-template-columns: 150px;}
  .abtus{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    top: 0;}
  .abtus2{
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
    padding: 0;}
  .fr1-left, .fr1-right{
    display: grid;
    grid-gap: 20px;
    align-items: center;
    grid-template-columns: 1fr 3fr;
    width: min(100% - 20px, 500px);
    padding: 20px;}
  .newspic-size{
    width: 400px;
    padding: 10px 10px 0 10px;
    height: 200px;
    object-fit: cover;}
  .news-text{
    padding: 0 10px 0 10px;
    width: auto;}
  .news-box{
    width: 400px;
    display: grid;
    gap: 30px;
    grid-template-rows: 2fr 1fr;
    background-color: #fff8f8;
    padding: 5px 5px 10px 5px;}
  .news-3, .event-3, .announcement-3{
    
    display: flex;
    justify-content: right;
    padding: 1rem 4rem 1rem 0;}
  .news-link, .event-link, .announcement-link{
    font-size: 20px;}
  .contactus-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    flex-direction: reverse;
    justify-content: space-evenly;
    padding: 20px;
  }
  .contactus-3-1 input[type="text"],.contactus-3-1 input[type="email"],.contactus-3-1 textarea{
    width: 500px;}
  
  
  
  
  
    /* madia (pc) about us style end */
 
}
@media screen and (max-width: 1000px) {
  .fr1-left, .fr1-right{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    width: min(100% - 20px, 500px);
    padding: 20px;}
  .news-pic, .newspic-size, .news-text{
    max-width: 700px;
    min-width: 300px;}
  .news-box{
    display: grid;
    grid-template-rows: 2fr 1fr;
    gap: 30px;
    background-color: #fff8f8;
    padding: 5px 5px 10px 5px;}
  .walk, .eye{
    display: none;}
  .newspic-size{
    padding: 10px 10px 0 10px;
    max-height: 20vh;
    min-height: 35vw;
    object-fit: cover;}
  .news-text{
    padding: 0 10px 0 10px;
    width: auto;}
  .news-3, .event-3, .announcement-3{ 
    display: flex;
    justify-content: center;
    margin-bottom: 30px;}
  .contactus-3 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    gap: 70px;
  }
  .contactus-3-1 input[type="text"],.contactus-3-1 input[type="email"],.contactus-3-1 textarea{
    width: 300px;}
}



#container{
  background-color:rgba(133, 0, 0, 0.8);
  ;}
.container-1{
 height: 90vh;}
.container-logo{
  position: absolute;
  display: flex;
  background-color: #ffffffd3;
  top: 15%;
  left: 43%;}
.first{
  display: flex;
  z-index: -1;
  top: 10px;
  width: 100%;
  min-height: 90vh;
  z-index: -1;
  object-fit: cover;
  object-position: 60% 0;}

/* Frame 1 */

.frame{
  padding: 30px 0;}
.our-goal, .fr1-1-1, .contactus-1, .contactus-2{
  margin: 10px 30px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  font-weight: bold;}
.fr1-1-1{
  display: flex;
  justify-content: center; 
  margin: 30px;}
.fr1-2{
  display: flex;
  justify-content: space-evenly;
  row-gap: 2em;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;}
.goal-text {
  font-family: Arial, sans-serif;
  font-size: 16px;}
.walk, .eye{
  width: 127px;}
/*.fr1-left, .fr1-right responsive*/ 
.mission, .vision{
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;}
.mission-text, .vision-text{
  font-family: Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;}

/* Frame 2 */

.red{
  background-color:rgba(133, 0, 0, 0.8); }
.news{
  margin: 0 30px;
  border: 1px white solid;}
.news-1{
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 40px 0;}
.news-2{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  gap: 30px;
  margin: 20px 70px; }
.newspic-size, .news-box{
  border-radius: 15px;}
.news-pic{
  display: flex;
  justify-content: center;}
/* .news-text, .newspic-size */
   
.news-link, .event-link, .announcement-link{
  display: flex;
  color: #000;
  background-color: #fff8f8;
  padding: 15px;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;}
.news-link:hover{
  opacity: 80%;}
/* Frame 3 */

.map{
  background-color: rgb(164, 247, 247);
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  overflow-x: auto;
  padding: 10px 10px 10px 10px;
  margin: 0 10px;
  border-radius: 10px;
  text-align: center;
  overscroll-behavior-inline: contain ;}
/* .newspic-size{
  } */
.snaps-inline {
  scroll-snap-type: x mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);} 
.snaps-inline > * {
  scroll-snap-align: center;}
/* Frame 4 */
.time{
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 40px 0;}
.event{
  margin: 30px 30px;
  border: 1px white solid;}
.event-1{
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 40px 0;}
.event-2{
  background-color: rgb(164, 247, 247);
  display: grid;
  text-align: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  overflow-x: auto;
  padding: 10px 10px 10px 10px;
  margin: 0 10px;
  gap: 40px;
  border-radius: 10px;
  overscroll-behavior-inline: contain ;}
.event-box{
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 200px;
  height: 80px;}
.event-date{
  display: flex;
  align-items: center;
  background-color: #E74141;}
.event-text{
  display: flex;
  align-items: center;
  background-color: #fff8f8;}

.announcement{
  margin: 0 30px;
  border: 1px white solid;}
.announcement-1{
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px 0 40px 0;}
.announcement-2{
  background-color: rgb(164, 247, 247);
  display: grid;
  text-align: center;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  overflow-x: auto;
  padding: 10px 10px 10px 10px;
  margin: 0 10px;
  gap: 40px;
  border-radius: 10px;
  overscroll-behavior-inline: contain ;
}
.announcement-box{
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 200px;
  height: 80px;
}
.announcement-date{
  display: flex;
  align-items: center;
  background: #D9D9D9;
}
.announcement-text{
  display: flex;
  align-items: center;
  background-color: #fff8f8;
}
/* Frame 5 */



.contactus-3-1 form {
  display: flex;
  flex-direction: column;
  align-items: center;}
.contactus-3-1 .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;}
.contactus-3-1 label {
  margin-bottom: 10px;}
.contactus-3-1 input[type="text"],.contactus-3-1 input[type="email"],.contactus-3-1 textarea {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  resize: none;}
.contactus-3-1 input[type="text"]:focus,.contactus-3-1 input[type="email"]:focus,.contactus-3-1 textarea:focus {
  border-color: #0077cc;
  outline: none;}
.contactus-3-1 button[type="submit"] {
  background-color: #0077cc;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;}
.contactus-3-1 button[type="submit"]:hover {
  background-color: #005fa3;}
.contactus-3-2{
display: grid;
grid-row: 1fr;}
.contact-info, .hours{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;}
.contact-info p {
  margin: 3px 0;
  color: #414547;
}
footer{
  padding-bottom: 50px;
}