@media screen and (min-width: 900px) {
  #container {
    position: sticky;
    top: 17px;
    height: 100vh;
    z-index: -1;
  }
  #container .container-1 {
    position: sticky;
    height: 100vh;
  }
  #container .container-1 .banner {
    height: 88vh;
    z-index: 1;
  }
  #container .container-1 .banner .first {
    height: 100vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #container .container-1 .banner2 {
    display: flex;
    width: 98.5vw;
    position: absolute;
    justify-content: center;
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    font-size: 27px;
    line-height: 40px;
    background-color: #b8252c;
    color: #fff8f8;
    bottom: 50px;
  }
  .frame {
    background-color: #fff8f8;
  }
  .frame .fr1-1-2 {
    display: flex;
    padding-top: 35px;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Times New Roman" Times serif;
    font-weight: bold;
    font-size: 24px;
  }
  .frame .goal-text {
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    margin: 0 50px 0 50px;
  }
  .frame .fr1-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 70vh;
  }
  .frame .fr1-2 iframe {
    width: 850px;
    aspect-ratio: 16/9;
  }
  .frame .fr1-3 {
    min-width: 200px;
    grid-gap: 70px;
    margin-top: 30px;
    background-color: #c9c8c8;
  }
  .frame .fr1-3 div {
    max-height: 490px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .frame .fr1-3 div .pic {
    -o-object-fit: cover;
       object-fit: cover;
    top: 10px;
    width: 100%;
    height: 100%;
  }
  .frame .news .news-2-1 {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 0.5fr 0.5fr;
  }
  .frame .news .news-2-2 {
    display: grid;
    place-items: center;
    grid-template-columns: 0.5fr 0.5fr 1fr;
  }
  .frame .sports-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: #121212;
    color: white;
  }
  .frame .sports-pic span {
    font-family: "Asul";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 116px;
  }
}
@media only screen and (min-width: 899px) {
  header {
    display: grid;
    position: fixed;
    grid-template-columns: 300px 0 3fr;
    justify-content: left;
  }
  header .topbar .top-left2 {
    grid-column: 2/3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 5px 8px 5px 8px;
    margin: 0 5px 0 20px;
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 55px;
  }
  header .topbar .top-left2:hover {
    opacity: 70%;
  }
  header nav {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    right: 10rem;
    grid-column: 3/4;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  header nav ul {
    display: flex;
  }
  header nav ul li {
    margin-left: 3em;
    margin-bottom: 0;
  }
  header nav ul li a {
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    opacity: 1;
    position: relative;
  }
  header nav ul li a::before {
    content: "";
    display: block;
    height: 5px;
    background: black;
    position: absolute;
    top: -0.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  header nav ul li a:hover::before {
    transform: scale(1, 1);
  }
  header nav .top-font {
    font-family: "Trirong";
    font-style: normal;
    font-weight: 800;
    line-height: 35px;
    font-size: 24px;
  }
  header nav .drop-down {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    display: none;
    gap: 70px;
    background-color: rgba(253, 36, 36, 0.8509803922);
    z-index: 3;
  }
  header nav .op:focus-within .drop-down {
    display: grid;
    grid-template-columns: 150px;
  }
  header nav .op:focus-within .admission {
    margin: 5px 620px 0px 0;
    padding: 20px 0 10px 0;
  }
  header nav .op:focus-within .programs {
    margin: 5px 422px 0 0;
    padding: 20px 0 10px 0;
  }
  header nav .op:focus-within .about {
    margin: 5px -30px 0 0;
    padding: 20px 0 10px 0;
  }
  header nav .op:focus-within .abtus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    top: 0;
  }
  header nav .op:focus-within .abtus2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  header .nav-toggle-label {
    display: none;
  }
}/*# sourceMappingURL=desktop.css.map */